
<%- include ('../template/header.ejs') -%>

<!-- Jquery JS-->
<body>
<div class="page-wrapper p-t-100 p-b-100 font-robo">
    <!-- <div class="wrapper wrapper--w680"> -->
    <div class="wrapper" style="margin-top: -100px; width: 50%;">
        <div class="card card-1">
            <div class="card-heading"></div>
            <div class="card-body">
                <% if (user && user.hasDetail === -1) { %>
                    <% console.log('============Tạo hồ sơ============'); %>
                    <h2 class="title">Hồ sơ cá nhân</h2>
                    <!-- <form method="POST"> -->
                    <form method="POST" action="/employer/create-info">
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="Tên công ty" name="name" >
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="Địa chỉ" name="address" >
                        </div>                    
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="Website" name="website" >
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="Email" name="email" >
                        </div>
                        <div class="row row-space">
                            <div class="col-12">
                                <div class="input-group">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" name="description" placeholder="Mô tả công ty" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row row-space">
                            <div class="col-12">
                                <div class="input-group">
                                    Chọn ảnh CV: <input type="file" name="file" placeholder="">
                                </div>
                            </div>
                        </div> -->
                        <div class="p-t-20">
                            
                             <input class="btn btn--radius btn--green" type="submit" value="Tạo thông tin" />
                            
                        </div>
                    </form>
                <% } %>

                <% if (user && user.hasDetail !== -1) { %>
                    <% console.log('========================'); %> 
                    <h2 class="title">Hồ sơ cá nhân</h2>
                    <!-- <form method="POST"> -->
                    <form method="POST" action="/employer/update-info">
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="Tên công ty" require name="name" value="<%= detail.company.name %>" required>
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="Địa chỉ" name="address" value="<%= detail.company.address %>" required>
                        </div>                    
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="Website" name="website" value="<%= detail.company.website %>" required>
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="Email" name="email" value="<%= detail.company.email %>" required>
                        </div>
                        <div class="row row-space">
                            <div class="col-12">
                                <div class="input-group">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" name="description" placeholder="Mô tả công ty" rows="3" required ><%= detail.company.description %></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row row-space">
                            <div class="col-12">
                                <div class="input-group">
                                    Chọn ảnh CV: <input type="file" name="file" placeholder="">
                                </div>
                            </div>
                        </div> -->
                        <div class="p-t-20">

                             <input class="btn btn--radius btn--green" type="submit" value="Chỉnh sửa thông tin"/>
                            
                        </div>
                    </form>
                <% } %>
                
            </div>
        </div>
    </div>
</div>
<script src="/vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="/vendor/select2/select2.min.js"></script>
<script src="/vendor/datepicker/moment.min.js"></script>
<script src="/vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="/javascripts/global.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-multiselect.js"></script>


</body>
<%- include ('../template/footer.ejs') -%>

