<div id="data-job">
    <% if ( totalCount === 0 ) { %>
        <div>
            <h1 style="text-align: center; margin-top: 10px;">Không tìm được công việc nào</h1>
        </div>
    <% } %>
    <% job.forEach(item => { %>

        <div class="card card-border-bottom rounded-0 card-hover flex-md-row">
            <div class="ml-10 mt-11 mr-4 mb-11"><img
                    src="/images/bg-head-03.jpg" style="height: 150px;width: 150px;"
                    alt="<%= item.creator.name %> "></div>
            <div class="card-body pl-3 pt-11 pr-10 pb-11 flex-md-grow-1">
                <div class="card bg-transparent unset-border">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="card-header p-0 bg-transparent d-flex">
                                    <h3 class="fw-500 font-size-18"
                                        style="font-size: 18px; font-weight: 500;">
                                        <!-- link chi tiết -=-=-=-=--=-============================================== -->
                                        <a
                                            href="/employer/detail-job/<%= item._id %>"
                                            class="text-primary"><%= item.name %> </a>
                                            <!-- =========================================== -->
                                        </h3><span
                                        class="ml-2 mr-2"
                                        style="margin: 12px 2px 0px 2px; font-size: 5px;">
                                        <i class="fa fa-circle font-size-dot" aria-hidden="true"></i></span>
                                        <span class="font-size-14 text-gray"
                                        style="font-size: 14px;"><i
                                            class="fa fa-calendar" aria-hidden="true"></i>  Ngày đăng: 
                                            <%= item.createdAt %>  </span>
                                </div>
                                <br>
                                <!-- <p class=" mb-3 fw-500"
                                    style="font-weight: 500; margin-bottom: 3px;"><%= item.timeOfWork %> 
                                </p> -->
                            
                                <div class="mb-2" style="margin-top: 10px;"><span class="fw-500 text-gray"
                                        style="font-weight: 500; color: gray;">Lĩnh vực tuyển dụng:</span>
                                        <%= item.field %>
                                            <!-- <a href="/employer/job-info/" 
                                            class="btn btn-sxs btn-skills mr-2 mb-2"></a> -->                                                                
                                </div>
                                <div class="mb-2"><span class="fw-500 text-gray"
                                    style="font-weight: 500; color: gray;">Mức lương: </span>
                                    <%= item.budget %>$
                                        <!-- <a href="/employer/job-info/" 
                                        class="btn btn-sxs btn-skills mr-2 mb-2"></a> -->
                                    
                                    
                            </div><div class="mb-2"><span class="fw-500 text-gray"
                                style="font-weight: 500; color: gray;">Thời gian làm dự kiến:</span>
                                <%= item.timeOfWork %>
                                    <!-- <a href="/employer/job-info/" 
                                    class="btn btn-sxs btn-skills mr-2 mb-2"></a> -->
                            </div><div class="mb-2"><span class="fw-500 text-gray"
                                style="font-weight: 500; color: gray;">Yêu cầu trình độ:</span>
                                <%= item.levelOfCandidate %>
                                    <!-- <a href="/employer/job-info/" 
                                    class="btn btn-sxs btn-skills mr-2 mb-2"></a> -->
                                

                        </div>
                        <hr>
                        <p class="mb-3 font-size-14 text-gray"><%= item.description %> </p>
                                
                                <!-- <p class="d-none"><span class="fw-bold">Điểm: <span
                                            class="text-primary">0</span></span></p> -->
                            </div>
                            <div class="col-md-3 text-md-right">
                                <!-- link chi tiết công việc============================================ -->
                                <p><a href="/employer/detail-job/<%= item._id %>"
                                        class="btn btn-outline-primary">Xem Chi tiết</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>



</div>